.bg-shikasho {
    background: url('../img/programmer.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#icon {
    font-size: 50px;
    transition: 0.4s;
}

#icon:hover {
    transition: 0.4s;
    color: white;
    cursor: pointer;
}