/* IMG */

.bg-shikasho {
    background: url('../img/news.jpg');
    background-position: center;
    background-size: cover;
    height: 70vh;
    opacity: 0.9;
}

.bg-new {
    font-style: italic;
    color: #002470;
    font-size: 150px;
    font-weight: 700;
    text-align: center;
    margin-top: 20vh;
    z-index: 5;
}

.h2 {
    animation: fadeInDown;
    animation-duration: 1s;
}

#icon {
    font-size: 50px;
    transition: 0.4s;
    padding: 30px 0 0 0;
}

#icon:hover {
    transition: 0.4s;
    color: #3a5fcf;
    cursor: pointer;
}


/* Footer */

#footer .footer-top {
    background: #292929;
    border-top: 1px solid #474747;
    border-bottom: 1px solid #474747;
    color: #fff;
    font-size: 14px;
    padding: 60px 0 30px 0;
}

.bg-copy {
    background: #404040;
    color: #fff;
    font-size: 14px;
    padding: 60px 0 40px 0;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #266daf;
    position: relative;
    padding-bottom: 12px;
}

.tact {
    width: 100%;
    border-top: 3px solid #0d6efd;
    border-bottom: 3px solid #0d6efd;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
}


/* Fim do Footer */

#copy {
    background: #404040;
    padding: 30px 0 0 0;
    color: #fff;
    font-size: 14px;
}


/* button */

* {
    scroll-behavior: smooth;
}

element.style {
    display: block;
}

#btnTop:hover {
    background: #ffffff;
    color: #0702ff;
}

#btnTop {
    position: fixed;
    bottom: 18px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: #0400f8;
    color: #fff;
    border: none;
    border-radius: 100%;
    font-size: 20px;
}


/* Notícias Destaques */

.main-title3 {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title3::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}


/* Cursos */

.main-title1 {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title1::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}


/* Contato */

.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

#contact-area {
    text-align: center;
}

.contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #3eC1d5;
}

.contact-box i {
    color: #444;
    border: solid 1px #444;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-box p {
    font-size: 16px;
}

.contact-title {
    font-weight: bold;
    color: #3eC1d5;
}

#msg-box p {
    font-size: 22px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textaere {
    margin-bottom: 15px;
    border-radius: 0px;
}

#contact-form .main-btn {
    width: 150px;
    height: 50px;
    border: solid 1px rgb(192, 191, 191);
    border-radius: 15px;
    transition: 0.6s;
    cursor: pointer;
}

#contact-form .main-btn:hover {
    background-color: #3eC1d5;
}


/* coluns cards */

.services .icon-box {
    position: relative;
    overflow: hidden;
    margin: 0 0 40px 0;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgb(68 88 144 / 20%);
    border-radius: 15px;
    text-align: center;
    border-bottom: 3px solid #fff;
}

.card-home .tab-content {
    position: relative;
    overflow: hidden;
    margin: 0 0 40px 0;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgb(68 88 144 / 20%);
    border-radius: 15px;
    text-align: center;
    border-bottom: 3px solid #fff;
}

.icon-box {
    animation: animate__fadeInUp;
    animation-duration: 3s;
}